<div class="container sidenav-container shadow">
    <div class="menu-wrapper">
        <div class="menu active">
            <button mat-button>
                <mat-icon>sports_esports</mat-icon>
            </button>
        </div>
        
        <div class="menu">
            <button mat-button>
                <mat-icon>category</mat-icon>
            </button>
        </div>

        <div class="menu">
            <button mat-button>
                <mat-icon>web</mat-icon>
            </button>
        </div>

        <div class="menu">
            <button mat-button>
                <mat-icon>person</mat-icon>
            </button>
        </div>

        <div class="menu">
            <button mat-button>
                <mat-icon>email</mat-icon>
            </button>
        </div>

        <div class="menu">
            <button mat-button>
                <mat-icon>grid_view</mat-icon>
            </button>
        </div>
        <div class="menu">
            <button mat-button>
                <mat-icon>all_inbox</mat-icon>
            </button>
        </div>
        <div class="menu">
            <button mat-button>
                <mat-icon>login</mat-icon>
            </button>
        </div>

        <div class="menu menu-setting">
            <button mat-button>
                <mat-icon>settings</mat-icon>
            </button>
        </div>
  </div>
</div>