<mat-tab-group>
    <mat-tab label="Daily Games"> 
       <!-- first  start-->

       <div class="container-fluid game-container">
            <div class="add-btn">
                <a class="btn btn-primary">Add Daily Game</a>
            </div>
            <div class="row game-row">
                <div class="col-lg-4 col-md-3 col-sm-6 game-col">
                    <a>
                        <div class="card" style="width: 18rem;">
                            <div class="card-img">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <h3 class="card-title">Card title</h3>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6  game-col">
                    <a>
                        <div class="card" style="width: 18rem;">
                            <div class="card-img">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <h3 class="card-title">Card title</h3>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6  game-col">
                    <a>
                        <div class="card" style="width: 18rem;">
                            <div class="card-img">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <h3 class="card-title">Card title</h3>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

       <!-- End -->
    </mat-tab>
    <mat-tab label="Weakly Games">
       <!-- second  start-->

       <div class="container-fluid game-container">
            <div class="add-btn">
                <a class="btn btn-primary">Add Daily Game</a>
            </div>
            <div class="row game-row">
                <div class="col-lg-4 col-md-3 col-sm-6 game-col">
                    <a>
                        <div class="card" style="width: 18rem;">
                            <div class="card-img">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <h3 class="card-title">Card title</h3>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6  game-col">
                    <a>
                        <div class="card" style="width: 18rem;">
                            <div class="card-img">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <h3 class="card-title">Card title</h3>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-6  game-col">
                    <a>
                        <div class="card" style="width: 18rem;">
                            <div class="card-img">
                                <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                            </div>
                            <div class="card-body">
                            <h3 class="card-title">Card title</h3>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

       <!-- End -->
    </mat-tab>
    <mat-tab label="Tie Games">
       <!-- third  start-->

       <div class="container-fluid game-container">
        <div class="add-btn">
            <a class="btn btn-primary">Add Daily Game</a>
        </div>
        <div class="row game-row">
            <div class="col-lg-4 col-md-3 col-sm-6 game-col">
                <a>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                        </div>
                        <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6  game-col">
                <a>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                        </div>
                        <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6  game-col">
                <a>
                    <div class="card" style="width: 18rem;">
                        <div class="card-img">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                        </div>
                        <div class="card-body">
                        <h3 class="card-title">Card title</h3>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

       <!-- End -->
    </mat-tab>
  </mat-tab-group>