<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 login-col col1">
            <img src="https://lh3.googleusercontent.com/proxy/7D-btN0FMcmskVSfro-jxf4wSDRAtLelOctcA_Bk0ZpCp1DfVpu214yOSardNGiRD-qV-ZelKwkddXDHkA" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 login-col col2">
            <h1 class="bold-heading">Admin Login</h1>
            <form>
                   <p>
                    <mat-form-field>
                        <mat-label>Enter your mail</mat-label>
                        <mat-icon matPrefix>email</mat-icon>
                        <input matInput>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                   </p>

                   <p>
                    <mat-form-field>
                        <mat-label>Enter your password</mat-label>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput>
                        <mat-hint>Hint</mat-hint>
                      </mat-form-field>
                   </p>

                   <button mat-raised-button class="login-btn mt-4">LOGIN</button>
                   <div class="pass-forget">
                        <p>Forget <a href="">Username / Password ?</a></p>
                   </div>
            </form>
        </div>
    </div>
</div>