

.mat-form-field-prefix{
    width: 28px;
    display: flex;
    align-self: flex-end;
}

.mat-form-field-suffix{
    width: 28px;
    display: flex;
    align-self: flex-end;
}

.mat-error{
    padding-left: 30px;
}