<!-- <div class="container-fluid product-container">
    <div class="row product-row">
        <div class="col-12 product-col">

        </div>
    </div>
</div> -->


<div class="container-fluid product-container">
    <div class="row product-row">
        <div class="add-btn">
            <a class="btn btn-sm btn-primary" (click)="addFeatureProduct()">Add Product</a>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6 product-col">
            <a>
                <div class="card shadow" style="width: 18rem;">
                    <div class="card-img">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                    </div>
                    <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid product-container">
    <div class="row product-row">
        <div class="add-btn">
            <a class="btn btn-sm btn-primary">Add Product</a>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6 product-col">
            <a>
                <div class="card shadow" style="width: 18rem;">
                    <div class="card-img">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1556103255-4443dbae8e5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG9ncmFwaGVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
                    </div>
                    <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>